{% for label,messages in app.flashes %}
    <div class="container-fluid m-0 p-0">                    
        <div class="m-0 p-0 alert alert-{{ label }}">
            {% for message in messages %}
                <p class="text-center mt-1 mb-1">{{ message | trans }}</p>
            {% endfor %}                    
        </div>
    </div>            
{% endfor %}
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="header">
  <a class="navbar-brand text" href="{{ path('app_home') }}">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        {% if not app.user %}
          <li class="nav-item">
            <a class="nav-link text" href="{{ path('app_register') }}">Inscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" href="{{ path('app_login') }}">Connexion</a>
          </li>
        {% endif %}
        <li class="nav-item">
              <a class="nav-link text" href="{{ path('users') }}">Profil</a>
        </li>   
        <li class="nav-item">
              <a class="nav-link text" href="{{ path('products_list') }}">Produits</a>
        </li>   
      </ul>
      <ul class="nav navbar-nav menu">
        <li class="nav-item dropdown"> 
          <a class="nav-link text" data-toggle="dropdown" href="#">
            Catégories<i class="fas fa-angle-down m-2"></i>
          </a>
          <ul class="dropdown-menu">
            {% for category in categories %}
              <li><a class="dropdown-item" href="{{ path('categories_show', {id: category.id}) }}">{{category.name}} ({{category.products|length}})</a></li>              
            {% endfor %}
          </ul>
        </li>
      </ul>
      {# ICONE PANIER #}
      <li class="row align-items-center panier">
        <a href="{{ path('cart_index') }}"><i class="fas fa-shopping-cart"></i>
          {% set totalQuantity = 0 %}
            {% for item in cart_items %}
              {% set totalQuantity = totalQuantity + item.quantity %}
            {% endfor %}
          <span class="badge mb-3">{{ totalQuantity }}</span>
        </a>   
      </li>
        
      <ul class="navbar-nav ml-auto">
      {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" id="text-name" href="{{ path('users') }}"><i class="fas fa-user mr-2"></i>{{ app.user.username }}</a>
        </li>         
        <li class="nav-item">
            <a class="nav-link" id="text-name" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>     
        <div class="searchConnect" id="search">
          <a href="{{ path('app_search') }}" type="submit"><i class="fas fa-search loupe"></i></a>       
        </div>       
      {% else %}
        <div id="search">
          <a href="{{ path('app_search') }}" type="submit"><i class="fas fa-search loupe"></i></a>       
        </div>       
      {% endif %}
        
      </ul>
    </div>
  </nav>
</header>