{% set url = path('products_single',{slug: product.slug}) %}
    <article class="col-md-3">
        <div class="card-body article">
            {% if product.promo == true %}
                <p class="text-center mb-1" id="promo" style="color:red;">Promotion</p>               
            {% endif %}
            <a href="{{url}}">
                {% if product.images is not empty %}
                    <img id="collection" src="{{ asset('uploads/'~ product.images[0].name) }}" alt="{{product.name}}"
                    style="height:200px;width:100%;display:block;">
                {% endif %}
            </a>
            <h3 class="text-center mt-2 title-product">{{product.name}}</h3>
            <h5>Catégories: {{product.categories.name}}</h5>
            <p>Quantité: {{ product.stock }}</p>
            <p>Contenu: {{product.content | raw}}</p>
        </div>
    </article>